body {
  margin: 10px;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 250px;
}

input {
  appearance: none;
  outline: 1px solid;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
}

input:invalid {
  background-color: rgba(255, 0, 0, 0.3);
}

input:focus:invalid {
  outline: 2px solid red;
}

input:focus:valid {
  outline: 2px solid black;
}

.error {
  background-color: darkred;
  color: white;
}
